@font-face {
    font-family: 'Avara_Bold';
    src:    url('../../fonts/Bold/Avara-Bold.eot');
    src:    url('../../fonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/Bold/Avara-Bold.woff') format('woff'),
            url('../../fonts/Bold/Avara-Bold.woff2') format('woff2'),
            url('../../fonts/Bold/Avara-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('../../fonts/BoldItalic/Avara-Bold_Italic.eot');
    src:    url('../../fonts/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
            url('../../fonts/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
            url('../../fonts/BoldItalic/Avara-Bold_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('../../fonts/Black/Avara-Black.eot');
    src:    url('../../fonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/Black/Avara-Black.woff') format('woff'),
            url('../../fonts/Black/Avara-Black.woff2') format('woff2'),
            url('../../fonts/Black/Avara-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
nav{
    font-size: 16px;
}
:root{
    --primary-color: #e8ece1;
    --secondary-color: #171616;
    --background-color: #171616;
    --text-color: #c0c0c0;
    --title: 'Avara_Bold';
    --title-italic: 'Avara_Bold Italic';
    --title-black: 'Avara_Black';
    --body: 'Courier New', monospace;
    --title-size: 50px;
    --body-size: 20px;
    --span-size: 18px;
}
#gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:0;
    gap:10px;
}
#gallery li{
    list-style-type: none;
    width: calc(24% - 5px);
    height: 90px;
    border: 1px solid var(--primary-color);
}
#gallery li h2{
     font-size: var(--span-size);
     color: var(--primary-color);
     text-shadow: none;

}
#gallery li a{
    display:block;
    padding: 10px;
    background-position: center;
    background-size: cover;
    background-color: var(--background-color);
  background-blend-mode: soft-light;
    text-decoration: none;
    color: var(--primary-color);
    height: calc(100% - 20px);
}
#gallery li a:hover{
    background-blend-mode: normal;
}
#gallery li a:hover h2{
    text-shadow: -1px -1px 5px var(--background-color), 1px -1px 5px var(--background-color), -1px 1px 5px var(--background-color), 1px 1px 5px var(--background-color);
}
p{
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title);
    color: var(--primary-color);
    font-size: var(--title-size);
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--title);
    margin: 0;
    padding: 0;
    font-size: var(--body-size);
}
#hand{
    float:right;
    max-width: 50%;
}
main img{
    max-width: 100%;
    height: auto;
}
main{
    padding: 20px;
    max-width: calc(90% - 40px);
    margin: 0 auto;
        margin-left: 15%;
    padding-bottom:50px;
}
span{
    font-family: var(--body);
    display:block;
    font-size: var(--span-size);
    font-style: italic;
}
a, a:visited, a:hover, a:active{
    color: var(--primary-color);
}
#back-button{
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
    text-decoration: none;
    position: fixed;
    background: var(--background-color);
    bottom:20px;
    right:20px;
    font-family: var(--body);
    font-size: var(--span-size);
    font-style: italic;
}
.dataset{
    max-width: 70%;
}
iframe{
    background: var(--primary-color);
}
h2{
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);    
  color: var(--background-color);
  margin-top: 10px;
}


@media(max-width: 600px){
    :root{
    --title-size: 32px;
    --body-size: 18px;
    --span-size: 17px;
    }
    #gallery li{
        width: calc(50% - 10px);
    }
    main{

    max-width: calc(100% - 40px);
    margin: 0 auto;
        margin-left: auto;

    }
}